.homepage {
  /* text-align: left;

  padding: 50px; */

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 20px;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.homepage-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 50%;
}

.homepage-nav-text {
  text-decoration: none;
  color: var(--main-font-color);
  font-size: 1.5rem;
  
  /* display: flex; */
}



@media screen and (max-width: 710px) {
  .homepage-nav {
    width: 85%;
  }
}