.footerPage {
  display: flex;
  flex-direction: row;

  /* border-top: 2px solid var(--main-font-color-2); */
  padding-top: 5px;
}

/* .footerPage-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

} */

.footerPage-icons-link {
  font-size: 25px;
  color: var(--main-font-color);

  padding: 8px 8px 8px 0;
}