.modal-image {
    max-width: 90vw;
    max-height: 90vh;
    border-width: 4px;
    border-style: solid;
    border-color: var(--main-font-color);
    border-radius: 18px;
}


.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--main-bg-color);
    border-width: 4px;
    border-style: solid;
    border-color: var(--main-font-color);
    border-radius: 10px;
    color: var(--main-font-color);
    font-size: 3em;
    line-height: 80%;
    cursor: pointer;
}